<!-- views/profile.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <% include ../views/partials/head %>

    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script>
        $("document").ready(function() {
            $('input[type=file]').on("change", function() {
                var $files = $(this).get(0).files;
                if ($files.length) {
                    console.log("uploading file to imgur");

                    var apiUrl = 'https://api.imgur.com/3/image';
                    var apiKey = '660a2b2b61c17f3';

                    var settings = {
                        async: false,
                        crossDomain: true,
                        processData: false,
                        contentType: false,
                        type: 'POST',
                        url: apiUrl,
                        headers: {
                        Authorization: 'Client-ID ' + apiKey,
                        Accept: 'application/json'
                        },
                        mimeType: 'multipart/form-data'
                    };

                    var formData = new FormData();
                    formData.append("image", $files[0]);
                    settings.data = formData;

                    //ajax req to imgur to upload
                    //response = stringified JSON
                    //img url is now response.data.link
                    $.ajax(settings).done(function(response) {
                        var json = JSON.parse(response);
                        var link = json.data.link;
                        console.log(link);
                        $("img").attr("src",link);
                        console.log('changed prof pic');

                        $.post('/account/updateprofilepic', {
                            profilepic: link
                        }, function(data){
                            console.log(data);
                        });

                    });
                }
            });
        });

        window.onload = function() {
            $.get('/account/profilepic', function(data) {
                console.log(data);
                if (data != '') {
                    $("#profilepic").attr("src",data);
                } else {
                    $("#profilepic").attr("src","https://www.searchpng.com/wp-content/uploads/2019/02/Deafult-Profile-Pitcher.png");
                }
            });
        };

    </script>
</head>

<body style="background-color: white;font-family: 'Open Sans', sans-serif;">
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-search">
        <div class="container"><a class="navbar-brand" href="#">Charity Case</a><button data-toggle="collapse"
                class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
                    class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/home">home</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="/profile">account</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/edit">edit account info</a></li>
                </ul>
                <form class="form-inline mr-auto" target="_self">
                    <div class="form-group"><label for="search-field"><i class="fa fa-search"></i></label><input
                            class="form-control search-field" type="search" id="search-field" name="search"></div>
                </form><a class="btn btn-light action-button" role="button" href="/account/logout">logout&nbsp;</a>
            </div>
        </div>
    </nav>
    <main>
        <div>
        <form action="/account/profile" method="post">
        <br>
        <br>
        <h4><b><i> <%- nameMessage %> </i></b></h4>
        <span>
            <img id = "profilepic" src="" alt="ProfilePic" class="w3-border w3-padding" style="width:100%;max-width:200px">
            <p>
            </p>
            <p>
                <i>Change your profile picture: </i><input type="file" name="profPic" accept="image/*" />
            </p>
        </span>
        <p>
        <p>
        Name: <%= nameMessage %>
        <p>
        Email: <%= emailMessage %>
        <p>
            <%if (accType) { %>
                <p><span style="color: black;">Account Type: Recipient</span></p>
            <% } else { %>
                <p><span style="color: black;">Account Type: Donor</span></p>
            <% } %>
        <p>

        </form>
        </div>

        <div class="div-signup">
            <p></p>
			<i><p id="signup"><font color="black"></font>Want to edit your account? <a href="/account/edit">You can do so here!</a></p></i>	
		</div>
</main>


</body>

</html>