<!-- views/signup.ejs -->

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <% include ../views/partials/head %>
    </head>
    
    <body style="background-color: white;font-family: 'Open Sans', sans-serif;">
        <nav class="navbar navbar-light navbar-expand-md navigation-clean-search">
            <div class="container"><a class="navbar-brand" href="#">Charity Case</a><button data-toggle="collapse"
                    class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
                        class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav">
                        <li class="nav-item" role="presentation"><a class="nav-link" href="/home">home</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link active" href="/profile">account</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="/edit">edit account info</a></li>
                    </ul>
                    <form class="form-inline mr-auto" target="_self">
                        <div class="form-group"><label for="search-field"><i class="fa fa-search"></i></label><input
                                class="form-control search-field" type="search" id="search-field" name="search"></div>
                    </form><a class="btn btn-light action-button" role="button" href="/account/logout">logout&nbsp;</a>
                </div>
            </div>
        </nav>
    <main>
        <div>
        <form action="/account/create" method="post">
            <h4><b><i> Sign Up </i></b></h4>
            <p>
            Name: <input name="name">
            <p>
            Email: <input name="email">
            <p>
            Password: <input type = "password" name="password">
            <p>
            Recipient?: <input type="checkbox" name="checkAccType">
            <p>
                <%if (message != null) { %>
                    <p><span style="color: red;"><%= message %></span></p>
                <% } %>
            <input type="submit" value="Create account!">
            
         </form>
         </div>
         <div class="div-login">
             <p></p>
			<i><p id="login">Return to login page <a href="/">here!</a></p></i>
		</div>
</main>
</body>

</html>